.match_card {
    background-size: cover !important;
    padding: 0px 10px;
    /* background: #1d1a2e url('../public/assets/images/bg-match.jpeg') center center no-repeat; */
    border-radius: 10px;
    cursor: pointer;
}
.col-md-9 .card-top {
    display: flex;
    padding: 0;
    margin-top: 10px;
}
.col-md-9 .card-top .mb-4{
    padding-left: 0;
}
.col-md-9 .card-top .mb-4:nth-child(3){
    padding-right: 0;
}
.card-top .card-border{
    box-shadow: unset;
}
.card-border {
    /* background: linear-gradient(180deg, #657180 0%, #1F2225 100%); */
    background-image: url(../public/assets/images/match-even.png);
    background-size: cover;
    padding: 2px;
    border-radius: 10px ;
    height: 134px;
    box-shadow: 0 45px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);
}
.card-border:hover{
    background: linear-gradient(8deg, #98a720c7 0%, #dc064ab5 100%)
}
.match_card .match_header{
    align-items: center;
}

.match_card .match_header .match_title {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    line-height: 20px;
    max-width: 209px;
    min-height: 42px;
    padding-top: 10px;
    color: #dbfd21;
}

.match_card .match_header .match_time {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    background: #e11d23;
    border-radius: 2px;
    padding: 3px 8px;
    border-radius: 8px;
    align-items: center;
    margin-top: 5px;
}

.match_card .match_body>div:nth-child(1), .match_card .match_body>div:nth-child(3) {
    width: 33%
}

/* .match_card .match_body>div:nth-child(2) {
    width: 20%
} */

.match_card .match_body .team img {
    width: 55px;
    height: 55px;
    margin-bottom: 8px;
}

.match_card .match_body .team .team_name {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    min-height: 20px;
}

.match_card .match_body .team .watch_now{
    background: #2A3038;
    border-radius: 2px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    opacity: 0.85;
    padding: 6px 22px;
}



.match_card .match_body .match_status .happening .current_status{
    background: #009B3A;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 10px;
    padding: 1px 10px;
    border-radius: 4px;
    min-width: 80px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.match_card .match_body .match_status .happening .current_result{
    display: flex;
    border-radius: 2px;
    padding: 0px 15px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    min-width: 80px;
    min-height: 30px;
    justify-content: space-between;
}

.match_card .match_body .match_status .happening .current_result span {
    margin: "0px 10px";
}

.match_card .match_body .match_status .happening .current_result span:nth-child(2) {
    width: 0.75em;
    height: 0.75em;
    padding: 0.25em;
    border-radius: 50%;
    border: 0.4em solid rgba(0, 220, 82, 0.2);
    background-clip: padding-box;
    background-color: #00dc52;
    display: block;
    margin: 0;
}
    

.match_card .match_body .match_status .waiting .current_result {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
}

.match_card .match_body .match_status .waiting .current_status {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
}
/* .action-hot-live video{
    background: url(/assets/images/bg-live.webp);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: calc(100vh - 355px);
} */
.card-border .match_body .match_status .happening .match_time{
    font-size: 14px;
}
/* .action-hot-live>div{
    height: 555px;
} */
@media screen and (max-width: 420px) {
    .col-md-9 .card-top {
        display: none;
        margin-top: 35px;
    }
    .col-md-9 .card-top .mb-4{
        padding-left: 15px;
    }
    .col-md-9 .card-top .mb-4:nth-child(3){
        padding-right: 15px;
    }
    .match_time{
        font-size: 12px;
    }
    .card-border .match_body {
        display: block !important;
    }
    .match_card .match_body .team img{
        width: 20px;
        height: 20px;
    }
    .card-border .match_body .team{
        display: block !important;
    }
    .match_card .match_body>div:nth-child(1), .match_card .match_body>div:nth-child(3){
        width: 50%;
    }
    .match_card .match_body>div:nth-child(2) {
        width: 40%;
    }
    .card-border .match_body .match_status{
        position: absolute;
        right: 0;
        top: 45px;
    }
    .card-border .match_body .match_status .happening{
        display: flex;
    }
    .card-border .match_body .match_status .happening p{
        display: none;
    }
    .match_card .match_header .match_title{
        min-height: 0;
        color: #ffed5a;
    }
    .card-border {
        height: 100px;
    }
    .match_card .match_body .team .team_name{
        padding-left: 8px;
        font-weight: 400;
    }
    .match_card .match_body .match_status .happening .current_status{
        min-height: 0px;
        padding: 0 10px;
        font-size: 11px;
        margin-bottom: 5px;
    }
    .match_card .match_body .match_status .happening .current_result{
        font-size: 11px;
        position: absolute;
        left: -40px;
        top: -11px;
        display: block;
        line-height: unset;
    }
    .main-card-header {
        display: none;
    }
    .action-hot-live>div{
        height: unset;
    }
  }